<%= form_with(model: printer) do |form| %>
  <% if printer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(printer.errors.count, "error") %> prohibited this printer from being saved:</h2>

      <ul>
        <% printer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
    </div>
<div>
  <%= form.label :octoprint_uri %>
  <%= form.text_field :octoprint_uri %>
    </div>
<div>
  <%= form.label :octoprint_key %>
  <%= form.text_field :octoprint_key %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
